main .container {
	background-color: #fff;
}

.table {
	display: flex;
}

.table_box {
	width: 33%;
}

.table_box:nth-child(2) {
	margin-left: -10px;
}

.table_box:nth-child(3) {
	margin-left: -10px;
}

.table_box div {
	display: flex;
}

.table img {
	width: 45px;
	height: 45px; 
	margin: 30px 20px 15px 30px;
}

.table_box h5 {
	margin: 30px 5px 18px 0px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	color: #2e2c2d;
}

.table_box p {
	font-family: "Arial";
	font-size: 12px;
	line-height: 20px;
	color: #969696;
	margin: 0px 32px 25px;
}

.slide {
	margin-left: 30px;
}

.article {
	display: flex;
	margin-left: 30px;
}

.article_box {
	width: 25%;
}

.article_box h5 {
	margin: 25px 30px 0px 0px;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	color: #2e2c2d;
}

.article_box p {
	margin: 30px 30px 20px 0px;
	font-family: "Arial";
	font-size: 12px;
	line-height: 20px;
	color: #969696;
}

.article_box a {
	display: inline-block;
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 15px;
	color: #fff;
	padding: 6px 42px;
	border-radius: 14px;
	background: linear-gradient(#f59461, #ea7233, #de4d03);
	margin: 0px 0px 45px 15px;
}

.article_box a:hover {
	background: linear-gradient(#ff6f24, #ec4e16, #963301);
}

.article_box:nth-child(even) a {
	background: linear-gradient(#898788, #666265, #403b3f);
}

.article_box:nth-child(even) a:hover {
	background: linear-gradient(#777576, #4d4a4c, #262325);
}

.texture_2 {
	display: flex;
	background-image: url(../images/texture_2.jpg);
	background-size: cover;
	margin: 0px 30px;
}

.texture_2 h3 {
	width: 60%;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	color: #706d6a;
	padding: 27px 24px;
}

.texture_2 .shadow {
	box-shadow: 0px 0px 1px 0.5px rgba(0,0,0,0.2);
	border: 5px solid #f5f0e9;
	background: linear-gradient(#fa8f58, #f45401);
	margin: 28px 0px 29px 29px;
	border-radius: 24px;
}

.texture_2 a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 20px;
	border-radius: 19px;
	background: linear-gradient(#fa8f58, #f45401);
	padding: 17px 30px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2) inset;
}

.texture_2 a:hover {
	background: linear-gradient(rgba(168,57,0, 0.1), #f45401);
}

.opinion {
	display: flex;
	border-bottom: 12px solid #615f5d;

}

.opinion_1, .opinion_2, .latest_news {
	width: 33%;
}

.opinion h4 {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 14px;
	color: #343233;
	padding: 30px 30px 25px;
}

.opinion h5 {
	margin: 2px 34px;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 13px;
	color: #343233;
}

.opinion span {
	margin: 0px 34px;
	font-family: "Arial";
	font-size: 10px;
	color: #f55909;
}

.names {
	display: flex;
	margin-left: 30px;
}

.opinion p {
	font-family: "Arial";
	font-size: 12px;
	line-height: 20px;
	color: #adadad;
	padding: 30px 55px 40px 30px;
}

.opinion_2 {
	margin-top: 71px;
}

.opinion_2 p {
	padding: 30px 20px 40px 30px; 
}

.latest_news {
	margin-left: -16px;
}

.red_box::before {
	display: block;
	content: "";
	width: 48px;
	height: 48px;
	border: 3px solid #dedad4;
	border-radius: 6px;
	background-color: #ff0000;
	position: absolute;
	left: -71px;
	top: -1px;
}

.red_box {
	position: relative;
	top: 4px;
	left: 100px;
	margin-bottom: 26px;
}

.red_box h5 {
	font-weight: bold;
}

.red_box h5, .red_box p, .red_box span {
	margin: 0px;
	padding: 0px;
	margin-bottom: 2px;

}

.red_box p {
	margin-top: -2px;
	margin-bottom: 3px;
}

.red_box span {
	display: block;
}

.last_section {
	display: flex;
	background-color: #4a4744;
}

.section {
	width: 200%;
}

.last_section h5 {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 13px;
	color: #f7f5ee;
	margin: 30px 30px 20px 30px;
}

.section_1 p  {
	font-family: "Arial";
	font-size: 12px;
	line-height: 20px;
	color: #848484;
	margin: 0px 30px 32px 30px;
}

.section_1 span {
	color: #f7f5ee;
}

.paragraph {
	font-family: "Arial";
	font-size: 12px;
	line-height: 23px;
	color: #f7f5ee;
	padding-right: 105px;
	padding-left: 30px;
}